* {
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  font-family: Arial, sans-serif;
}

.board {
  width: 500px;
  height: auto;
  margin: 10px auto;
  padding: 5px;
  position: relative;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

header {
  margin: 10px auto;
  text-align: center;
}

.start, .reset {
  background-color: red;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.start:hover {
  color: white;
}

.square {
  border: 2px solid black;
  margin: 0px;
  line-height: 160px;
  width: 160px;
  height: 160px;
  display: block;
  float: left;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
}

.turn-display {
  background-color: lightblue;
  border: 2px solid black;
  font-size: 30px;
  margin: 5px auto;
  padding: 10px;
  height: auto;
  width: 475px;
  text-align: center;
  font-weight: bold;
}


.hidden {
  display: none;
}
