header {
  font-family: cursive, fantasy;
  color: darkred;
  margin: 20px auto;
  text-align: center;
}

.selection {
  background-color: #ddd;
  margin: 20px auto;
  padding: 10px;
  width: 700px;
  height: 300px;
}

.select-options {
  margin: 50px 0px;
  padding: 20px;
  text-align: center;
}

.search-button {
  font-size: 16px;
  color: white;
  background-color: darkred;
  text-align: center;
  margin: 30px auto;
  display: block;
  border: none;
  width: 200px;
  padding: 10px;
}

.logos {
  margin: 20px auto;
  text-align: center;
}

.logo-image {
  padding: 30px;
}

/* DROPDOWN MENU */
.dropbtn {
    background-color: white;
    color: #ddd;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
		width: 300px;
    pointer-events: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f9f9f9;*/
    background-color: #f1f1f1;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: left;
}
/* Links inside the dropdown */
.dropdown-content option {
    color: darkred;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
/* Change color of dropdown links on hover */
.dropdown-content option:hover {
	color: red;
	cursor: pointer;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
}

.grayscale {
  -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
