/*** GENERAL ***/

body {
	margin: 0;
	font-family: Helvetica, sans-serif;
}


/*** NAV ***/
nav {
	/* position: relative; */
	background-color: #ddd;
	height: 50px;
	width: 100%;
	/* top/bottom and left/right same */
	padding: 5px 10px 5px 10px;
	text-align: left;
	 /*no bottom margin on nav*/
	/*margin-bottom: 60px;*/
	font-size: 20px;
}

ul {
	list-style-type: none;
	display: inline;
	float: right;
	padding: 0px 20px;
}

nav ul {
	margin: 11px 0px;
}

nav li {
	display: inline;
	float: left;
}

a {
	text-decoration: none;
	padding: 10px;
}

a:link {
	color: purple;
}

.navbar-brand {
	float: left;
	margin: 11px 0px;
}

/** MAIN ***/

input {
	width: 500px;
	height: 40px;
	padding: 5px 10px;
	font-size: 20px;
	font-weight: bold;
	color: #A9A9A9;
	background-color: transparent;
	border: 1px solid lightgray;
	border-radius: 5px;
	float: left;
}


.glass {
	height: 38px;
	border: 1px solid lightgray;
	border-radius: 5px;
	float: left;
}


/* style divs */

#pages, #form, #list {
	margin: 20px 0px 25px 0px;
	padding: 20px 0px;
}



ul.pagination {
	display: inline-block;
	padding: 0;
	/* same margin on top and bottom
	same on right */
	// margin: 30px 0px;
	/* margin-left: 100px; */
	font-size: 0;
	float: left;
	clear: left;
	border: 1px solid #ddd;
	border-radius: 5px;
}

ul.pagination li { 
	display: inline; 
	font-size: 15px;
}

ul.pagination li a {
	color: black;
	float: left;
	text-decoration: none;
	border-left: 1px solid #ddd;
	padding: 8px 16px;
}


main {
	width: 650px;
	margin: 60px auto;
}

/** SECTION **/

/* instead of adding margin on jobs-list
create a <main> around it and have padding or margin left/right
margin: auto to center
*/


.jobs-list {
	clear: left;
	float: left;
	/* margin-left: 80px;
	margin-top: 40px; */
	margin: 0;
	color: lightgray;
	padding: 0;
}

.jobs-list li {
	line-height: 30px;
}

.jobs-list li a {
	color: blue;
	font-weight: bold;
}