body {
	margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main.content {
	margin: 0 auto;
	padding: 5%;
}

.search-form {
	font-size: 2em;
}


h1 {
	margin: 0;
	text-align: center;
	font-family: 'Fredoka One', cursive;
	font-size: 3em;
}

input[type="text"] {
	font-size: 30px;
	width: 50%;
	height: 20%;
	margin: 10px auto;
	border-radius: 15px;
	border: 2px solid #ddd;
	padding: 10px;
	outline: 0;
	display: block;
}

.thumbnails {
    width: 100%;
}

.items {
    padding: 10px;
    width: 50%;
	border: 1px solid black;
	margin: auto;
}

.search-button {
	width: 75px;
	height: 40px;
	margin: 10px auto;
	font-size: 16px;
	color: white;
	border-radius: 15px;
	background-color: red;
	border: none;
	display: block;
}

div.js-search-results.search-results {
 	margin-left: auto;
    margin-right: auto;
}