body {
	margin-top: 40px;
	background-color: white;   
	/*width: 100%;
	height: 100%;
	background: url('http://cdn.wallpapersafari.com/62/98/gBqZ4H.png') no-repeat;
	background-size: 100% 100%;*/
	font-family: 'Varela Round', sans-serif;
}

* {
	box-sizing: border-box;
}

.quiz-start-screen {
	position: relative;
	left: 0;
	background-color: white;
	padding: 5px;
	border-radius: 10px;
}

.start {
	padding: 20px;
}

.start h1 {
	font-size: 2.5em;
}

.quiz-start-button {
	font-size: 1.5em;
	background-color: #56D2C9;
	border-radius: 10px;
	border: 2px solid #56D2C9;
	animation-name: example;
	animation-duration: 4s;

}

@keyframes example {
    0%   {background-color:#56D2C9; color:black;}
    25%  {background-color:yellow; color:red;}
    50%  {background-color:blue; color: yellow;}
    75%  {background-color:green; color: hotpink;}
    100% {background-color:#56D2C9; color: black;}
}


main {
	margin: 5%;
	padding: 5%;
	text-align: center;
}

.quiz-inner-content {
	padding: 5px;
}

ul.multiple-choices {
	padding: 0;
	margin: 0;
	columns: 2;
}

.multiple-choices li {
	background-color: #ddd;
	padding: 3px;
	margin: 3px auto;
	list-style: none;
	font-size: 1.5em;
	width: 100%;
}

/* green for correct choice*/
.correct-choice li {
	background-color: green;
}

/* red for incorrect choice*/
.incorrect-choice {
	background-color: red;
}

.quiz-body-header {
	margin: 20px;
}

.quiz-body-header h1 {
	font-size: 3em;
	margin: 0;
}

/* nav bar sticky to top */
nav {
	font-size: 1.5em;
	font-weight: bold;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #56D2C9;   /* teal */
	padding: 20px;
}

.quiz-num-div {
	display: inline-block;
}

.question-image {
	width: 300px;
	height: auto;
	margin: 10px;
	-webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.submit-button {
	font-size: 1.2em;
	background-color: orange;
	border: 1px solid orange;
	border-radius: 5px;
}

.try-again-section {
	background-color: white;
	font-size: 1.5em;
	margin: 10px auto;
	padding: 10px;
	width: 40%;
}

.again-button {
	font-size: 1.5em;
	background-color: orange;
	border: 1px solid orange;
	border-radius: 30px;
}

.hidden {
	display: none;
}