body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

.quiz-start-screen {
	margin: 10% 5%;
	padding: 5%;
	text-align: center;
	background-color: lightblue;
	border: 2px solid black;
}

.quiz-start-button {
	font-size: 16px;
}




main {
	margin: 10% 5%;
	padding: 5%;
	text-align: center;
}

.quiz-section {
	border: 2px solid black;
	padding: 10px;
}

.quiz-body-header {
	background-color: #ddd;
	border: 2px solid black;
}

.quiz-content {
	height: 300px;
}

.quiz-inner-content {
	height: 200px;
	border: 2px solid black;
}

.multiple-choices li {
	background-color: lightgray;
}

.quiz-feedback {
	background-color: lightblue;
}

.hidden {
	display: none;
}